NODE_ENV=development
PORT=5001
MONGODB_URL=mongodb://127.0.0.1:27017/mern_dashboard
CLIENT_ORIGIN=http://localhost:3000
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=7d
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
# COOKIE_DOMAIN=.example.com
TRUST_PROXY=1
